<html lang="en" class="gr__yoodownload_com fa-events-icons-ready">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Online Video Downloader - Youtube to MP3 Converter</title>
        <script src="https://use.fontawesome.com/531c15d395.js" defer="" async=""></script>
        <meta name="description" content="Online video downloader and Youtube to MP3 Converter online. Download Videos from Youtube, Vimeo, Facebook and many others for free without plugins. Fastest Youtube to MP3 downloader.">
    </head>
<div class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 0px;">
    <div class="container">
      <a class="navbar-brand" href="index.php"><img style="margin-bottom: 3%;" class="img-responsive" alt="Online Video Downloader" src="assets/img/yoodownload.png" width="180px"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#yoodownload_menu" aria-controls="yoodownload_menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="yoodownload_menu">
        <ul class="navbar-nav" style="font-weight:600">
          <li class="nav-item">
            <a class="nav-link" href="howto.php"><i class="fa fa-question-circle" aria-hidden="true"></i> How to?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://chrome.google.com/webstore/detail/fbdown-video-downloader/fhplmmllnpjjlncfjpbbpjadoeijkogc" target="_blank"><i style="font-size:1.1rem" class="fa fa-chrome" aria-hidden="true"></i> Chrome Extension</a>
          </li>
          <li class="nav-item">
            
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
  
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="contact.php">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
</html>
