<div class="jumbotron">
		<div class="container">
			<div>
				<h1 style="font-size:24px;font-weight:700;margin-top: 2%;">Online Video Downloader</h1>
				<h2 class="text-muted" style="font-size: 24px;margin-top: -5px;letter-spacing:-1px;"><small>Youtube to MP3 Converter Online</small></h2>
				<br>
				<div style="float:none;" class="col-lg-6">
				    
				</div>
				<br>
				<form [formGroup]="downloadForm" (ngSubmit)="downloadit()" class="form-horizontal" id="downloadForm" novalidate>
					<div class="input-group col-md-8">
              <app-form-error-wrapper [control]="downloadForm.controls['downloadlink']" [controlName]="'downloadlink'">
                  <input formControlName="downloadlink" class="form-control form-control-lg URL-input" placeholder="Enter Video Link..." type="text" autofocus="" style="height:66px;">
              </app-form-error-wrapper>
						
						<button class="btn btn-primary input-lg convert-button">
              <strong><i class="fa fa-cloud-download" aria-hidden="true"></i> Download</strong>
            </button>
					</div>
					<br>
				</form>
        <div class="progress" id="progress" style="height:4px;width: 0%;background-color: #c2c2c2;margin-bottom:2%;margin-top:-1%"> <div id="progressbar" style="-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transition: all 0.2s ease;-o-transition: all 0.2s ease;transition: all 0.2s ease;" class="progress-bar bg-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">0% Complete</span></div> </div>
				<div style="float:none;" class="col-lg-6">
								</div>
				
				<br>
    </div>
  </div>
	</div>
	<div class="container">
	    <div class="row">
    	    <div class="col-md-6">
    	        <div class="card">
                    <h4 class="card-header"><strong><i class="fa fa-newspaper-o" aria-hidden="true"></i> Updates</strong></h4>
                    <div class="card-body">
                        <div class="alert alert-success" role="alert"><strong class="text-primary"><i class="fa fa-certificate" aria-hidden="true"></i> UPDATE </strong> <span class="text-primary">(06 September 2018): </span><br><p>We fixed some minor bugs as well as under the hood improvements, that make YooDownload faster than before. Please feel free to contact us and report any bug that you encounter.</p></div>
                        <div class="alert alert-success" role="alert"><strong class="text-primary"><i class="fa fa-certificate" aria-hidden="true"></i> UPDATE </strong> <span class="text-primary">(28 March 2018): </span><br><p>We raised the limit of youtube to MP3 converter. Now you'll be able to convert Youtube video to MP3 up to 20 Minutes long.</p></div>
                        <div class="alert alert-success" role="alert"><strong class="text-primary"><i class="fa fa-cog" aria-hidden="true"></i> UPDATE </strong> <span class="text-primary">(15 January 2018): </span><br><p>We fixed some minor issues causing some videos not to be detected, as well as tweaked the downloader making it faster than before. If you have any suggestions or want to report an issue, please contact us anytime.</p></div>
                        <div class="alert alert-info" role="alert"><strong class="text-primary"><i class="fa fa-certificate" aria-hidden="true"></i> UPDATE </strong> <span class="text-primary">(19 November 2017): </span><br><p>This update brings a new design refresh for a simpler and better experience overall as well as some minor fixes.</p><p>We updated the home page and download page making them more easier to use and <strong class="text-primary">mobile friendly</strong>, so that you can keep downloading videos on the go.</p><p>We also fixed some issues and added some tweaks for a <strong class="text-primary">faster downloader</strong>.</p><p>Last but not least, YooDownload is now secure with full <strong class="text-primary">HTTPS</strong> support.</p></div>
                        <div class="alert alert-success" role="alert"><strong><i class="fa fa-cogs" aria-hidden="true"></i> UPDATE</strong> (14 June 2017): <br>We fixed a lot of issues related to Youtube and other websites. Also the Youtube to MP3 feature's issues have been fixed and now back and 100% Working. If you're still encountring issues, please contact us and send us the video link.</div>
            			<div class="alert alert-success" role="alert"><strong><i class="fa fa-certificate" aria-hidden="true"></i> UPDATE</strong> (16 January 2017): <br><strong class="text-primary"> <span class="glyphicon glyphicon-refresh"></span> Major overhaul</strong>: We redesigned the home page as well as the download page to make it easier to choose video qualities and download the videos.<br><strong class="text-primary"> <span class="glyphicon glyphicon-music"></span> MP3 Download</strong>: You can now download MP3 videos of up to 10 Minutes long. Plus, it is the fastest MP3 downloader online.<br><strong class="text-primary"> <span class="glyphicon glyphicon-ok"></span> Issues</strong>: We fixed all the issues related to Youtube, Facebook and others.<br><strong class="text-primary"> <span class="glyphicon glyphicon-wrench"></span> Fixes</strong>: We also made some minor tweaks to the download processor making it 90% FASTER than before.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h4 class="card-header"><strong><i class="fa fa-globe" aria-hidden="true"></i> Supported Websites</strong></h4>
                    <div class="card-body">
                        <div>
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Youtube Video Downloader" title="" src="assets/img/youtube-video-downloader.png" data-original-title="Youtube Video Downloader">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Youtube to MP3 Converter" title="" src="assets/img/youtube-music-downloader.png" data-original-title="Youtube to MP3 Converter">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Vimeo" title="" src="assets/img/vimeo-video-downloader.png" data-original-title="Vimeo">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Facebook" title="" src="assets/img/facebook-video-downloader.png" data-original-title="Facebook">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Twitter" title="" src="assets/img/twitter-video-downloader.png" data-original-title="Twitter">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Instagram" title="" src="assets/img/instagram-video-downloader.png" data-original-title="Instagram">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Vid.me" title="" src="assets/img/vid.me-video-downloader.png" data-original-title="Vid.me">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Soundcloud" title="" src="assets/img/soundcloud-music-downloader.png" data-original-title="Soundcloud">
    						<img class="img-fluid supported" data-toggle="tooltip" alt="Many others supported and more coming soon..." title="" src="assets/img/all-video-downloader.png" data-original-title="Many others supported and more coming soon...">
    					</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:2%">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                			<h3 class="h4" style="font-weight:700">Youtube Video Downloader Online</h3>
                			<img src="assets/img/youtube-video-downloader.png" style="float: left;max-width: 48px;margin: 10px;">YooDownload is the fastest Youtube Video Downloader without java or any 3rd party plugins or extensions. It helps you save your favorite youtube videos with all the formats available (up to HD).
    		            </div>
    		        </div>
    		    </div>
    		    <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                			<h3 class="h4" style="font-weight:700">Download Any Video Online</h3>
    		            	<img src="favicon.png" style="float: left;max-width: 48px;margin: 10px;">With YooDownload you are able to download videos from many video sites, and more than you even think. Top websites supported now are: Youtube, Facebook, Vimeo,Vid.me, Twitter, Instagram, Vine, Soundcloud (music) and more... We do not allow adult websites!
    		            </div>
    		        </div>
    		    </div>
    		    <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                			<h3 class="h4" style="font-weight:700">Youtube to MP3 Converter</h3>
    		            	<img src="assets/img/youtube-music-downloader.png" style="float: left;max-width: 48px;margin: 10px;">YooDownload is the fastest youtube to mp3 converter online, no waiting time to download your favorite <strong>Youtube music to MP3</strong>. Save videos from Youtube as MP3 file and enjoy your favorite music offline for free. Our Youtube to MP3 Converter is currently limited to videos that don't exceed 20 Minutes (we will allow longer videos in the future).
    		            </div>
    		        </div>
    		    </div>
    		 </div>
        </div>
		
    <br>
  <div class="jumbotron col-md-12 pt-2 pb-2 mt-4">
    <div>
    <strong>Online Video Downloader </strong> | <a href="privacy.php">Privacy Policy</a> | <a href="about.php">About us</a><br>
    Our other services : <a href="https://fbdown.net/"><strong>Facebook Video Downloader</strong></a> | <a href="https://twdown.net/"><strong>Twitter Video Downloader</strong></a> | <a href="http://downvideo.net/"><strong>Facebook Video Downloader</strong></a> (2nd Server)
    <br>
    </div>
  </div>
</div>